body{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    vertical-align: baseline;
}

div{
  display: inline-block;
}

h1{
  font-size: 190px;
  margin-top: 50px;
  margin-bottom: 0px;
}

h4{
  margin: 0px;
  margin-top: 10px;
  margin-left: 10px;
}

h5{
  margin: 0px;
  margin-left: 10px;
}
p{
  margin-top: 0px;
}

.btn{
    cursor: pointer;
    background-color: #ffffff;
}

.js-weather{
  font-size: 30px;
  z-index: 4;
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
  display: table-cell;
}

.clicked{
    color: #7f8c8d;
}

.from,
.greeting{
    display: none;
}

.showing{
    display: block;
}

.js-greetings{
    font-size: 90px;
    padding: 0;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}