bocy{
    background-color: #ecf0f1;
}

.btn{
    cursor: pointer;
}

body{
    color: #34495e;
}
  
.clicked{
    color: #7f8c8d;
}

.from,
.greeting{
    display: none;
}

.showing{
    display: block;
}