body{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    vertical-align: baseline;
}

div{
  display: block;
}

h1{
  font-size: 170px;
  margin-top: 50px;
  margin-bottom: 0px;
}

h4{
  margin: 0px;
  margin-top: 10px;
  margin-left: 10px;
}

h5{
  margin: 0px;
  margin-left: 10px;
}
p{
  margin-top: 0px;
}


input{
  border: none;
  background-color: rgba(189, 189, 189, 0.3);
  height: 50px;
  width: 100%;
  margin: 10px;
  font-size: 85%;
  color: white;
  font-weight: bold;
  
  
}

input::placeholder {
  color: white;
  font-weight: bold;
  opacity: 80%;
}

.middle-row{
    text-align: left;
    padding-right: 20%;
    padding-left: 20%;
}

.btn{
    cursor: pointer;
    background-color: #ffffff;
}

.js-weather{
  font-size: 30px;
  z-index: 4;
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
  display: table-cell;
}

.js-form{
  display: block;
    width: 100%;
    background: transparent;
    font-family: Poppins-Medium;
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    align-items: flex-start;

}


.clicked{
    color: #7f8c8d;
}

.from,
.greeting{
    display: none;
}

.showing{
    display: block;
}

.js-greetings{
    font-size: 40px;
    padding: 0;
    align-items: flex-start;
    font-weight: bold;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}